@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
}

input,
textarea,
button {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
}

.custom-scrollbar {
  scrollbar-gutter: stable; /* 스크롤바 공간을 항상 차지 */
  @apply overflow-y-auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-bgdark;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600 rounded;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-700;
}

@media (max-width: 1500px) {
  .grid-rows-responsive {
    @apply grid-rows-[1fr_1fr];
  }
}

@media (min-width: 1501px) {
  .grid-cols-responsive {
    @apply grid-cols-[1.2fr_1fr];
  }
}
