@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

input,
textarea,
button {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.custom-scrollbar {
  scrollbar-gutter: stable; /* 스크롤바 공간을 항상 차지 */
  @apply overflow-y-auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-bgdark;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600 rounded;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-700;
}

@media (max-width: 1650px) {
  .grid-rows-responsive {
    @apply grid-rows-[1fr_1fr] grid-cols-[1fr];
  }
}

@media (min-width: 1651px) {
  .grid-cols-responsive {
    @apply grid-cols-[1.2fr_1fr] grid-rows-[1fr];
  }
}

.imgBackground1 {
  background: linear-gradient(135deg, #313131, #585858);
}
.imgBackground2 {
  background: linear-gradient(135deg, #1e2d0b, #304911);
}
.imgBackground3 {
  background: linear-gradient(135deg, #102739, #113d5d);
}
.imgBackground4 {
  background: linear-gradient(135deg, #2e113c, #480d5d);
}
.imgBackground5 {
  background: linear-gradient(135deg, #452b05, #9e5f04);
}
.imgBackground6 {
  background: linear-gradient(135deg, #48220a, #a24006);
}
.imgBackground7 {
  background: linear-gradient(135deg, #3d3325, #dbc899);
}

.textColor1 {
  color: #000000;
}
.textColor2 {
  color: #6fc300;
}
.textColor3 {
  color: #00b5ff;
}
.textColor4 {
  color: #bf00fe;
}

.logotext {
  font-family: "ADLaM Display", system-ui;
}

.classIconHover:hover > img {
  filter: none;
}
