@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

input,
textarea,
button {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.custom-scrollbar {
  scrollbar-gutter: stable; /* 스크롤바 공간을 항상 차지 */
  @apply overflow-y-auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-bgdark;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600 rounded;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-700;
}

@media (max-width: 1650px) {
  .grid-rows-responsive {
    @apply grid-rows-[1fr_1fr] grid-cols-[1fr];
  }
}

@media (min-width: 1651px) {
  .grid-cols-responsive {
    @apply grid-cols-[1.2fr_1fr] grid-rows-[1fr];
  }
}

.gemBackground1 {
  background: linear-gradient(135deg, #261331, #480d5d);
}
.gemBackground2 {
  background: linear-gradient(135deg, #362003, #9e5f04);
}
.gemBackground3 {
  background: linear-gradient(135deg, #341a09, #a24006);
}
.gemBackground4 {
  background: linear-gradient(135deg, #3d3325, #dcc999);
}

.digits4 {
  color: white;
}

.digits5 {
  color: #ced49e;
}

.digits6 {
  color: #a8b2d4;
}

.digits7 {
  color: #b9b3ce;
}
