spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
logging:
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} : %msg%n"
  file:
    encoding: UTF-8
  encoding:
    charset: UTF-8

loa:
  api:
    key0: ${LOA_API_KEY0}
    key1: ${LOA_API_KEY1}
    key2: ${LOA_API_KEY2}
    key3: ${LOA_API_KEY3}
    key4: ${LOA_API_KEY4}
    key5: ${LOA_API_KEY5}
  craft:
    key0: ${LOA_CRAFT_KEY0}
    key6: ${LOA_CRAFT_KEY6}
    key7: ${LOA_CRAFT_KEY7}

jsonFile:
  craftData: "/var/app/current/craftData.json"
  gemData: "/var/app/current/gemData.json"
  gemPrice: "/var/app/current/gemPrice.json"

turnstile:
  secret: ${TURNSTILE_SECRET}